body{
    font-family: 'Alata', sans-serif;
    margin: 0%;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

nav{
    height: 80px;
    width: 100%;
    background-color: black;
    position: fixed;
}

nav img{
    width: 200px;
    position: absolute;
    top: 30px;
    left: 100px;
}

nav ul{
    float: right;
    margin-right: 100px;
}

nav ul li{
    
    display: inline-block;
    line-height: 80px;
    margin: 0 25px;
}

nav ul li a{
    position: relative;
    color: white;
    font-size: 15px;
    padding: 5px 0;
}

nav ul li a:before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #FBA24F;
    transform: scaleX(0);
    transform-origin: right;
transition: transform .4s linear

}

nav ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;

}

.font{
font-size: 55px;

}

.head-01{
    display: flex;
}

.btn-01{
    margin-top: 50px;
}

.link{
    
    text-decoration: none;
    color: white;
    background-color: #FBA24F;
    padding: 10px 40px;
}

.orange{
    color: #FBA24F;
}

.half-01{
    width: 100%;
   margin-left: 140px;
   margin-top: 250px;
}

.half-02 img{
    width: 500px;
    height: 600px;
    margin-top: 100px;
    margin-right: 110px;
    margin-bottom: 80px;
}

.half-03 img{
    width: 350px;
    height: 500px;
    margin-top: 100px;
    margin-left: 220px;
    
}

.half-04{
    width: 100%;
   margin-left: 150px;
   margin-top: 150px;
   
}

.background{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    margin-bottom: 80px;
}

.My-recipies{
    text-align: center;
}

.My-recipies h1{
    font-size: 45px;
    padding-bottom: 15px;
}

.box{
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 70px;
    display: flex;
}

.box1 {
    width: 90%;
    
    text-align: center;
    box-shadow: 10px 10px 35px gray;
    border-radius: 5%;
}

.box1 img{
    width: 90%;
    height: 55%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    
}

.box2{
    width: 90%;
margin-left: 35px;
text-align: center;
box-shadow: 10px 10px 35px gray;
border-radius: 5%;
}

.box2 img{
    width: 90%;
    height: 55%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;

}

.box3 {
    width: 90%;
    margin-left: 35px;
    text-align: center;
    box-shadow: 10px 10px 35px gray;
    border-radius: 5%;
    
}


.box3 img{
    width: 90%;
    height: 55%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    
}

.social{
    display: flex;
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 150px;
    text-align: center;
    box-shadow: 10px 10px 45px gray;
    border-radius: 15px;
}

.youtube{
    margin-left: 11%;
    margin-top: 4%;
    margin-bottom: 4%;
    text-align: center;
}

.instagram{
    margin-left: 20%;
    margin-top: 4%;
    margin-bottom: 4%;
    text-align: center;
}

.dribbble{
    margin-left: 20%;
    margin-top: 4%;
    margin-bottom: 4%;
    text-align: center;
}

.footer-text{
    text-align: center;
    color: white;
}

.footer{
    background-color: black;
    padding-top: 3%;
    padding-bottom: 3%;
}

